@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Onest:wght@100;200;300;400;500;600;700&family=Pixelify+Sans:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  min-height: 100vh;
  scroll-behavior: smooth;
}


html{
  overflow-x: hidden;
}


html::-webkit-scrollbar {
  width: 0.2em;
}
html::-webkit-scrollbar:hover {
  width: 1em;
}
 
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
 
html::-webkit-scrollbar-thumb {
  background-color: #FFB000;
  outline: 1px solid rgb(0, 0, 0);
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --card-bg-rgba:250, 250, 250, 0.6;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.6) 100%), url('https://images.unsplash.com/photo-1698430484424-38756b7e00a1?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}



.box1{
  flex: 0 0 48vw !important;
}
.box2{
  flex: 0 0 40vw;
  order: 1;
}
@media screen and (min-width: 768px) {
  
  .box3{
    margin: 0 2rem;
    flex: 0 0 40vw;
    max-height: 55rem;
    
  }
}

@media screen and (max-width: 768px) {
  .box3{
    margin: 0 1rem !important;
    width: 100% !important;
  }
}

.card_bg{
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: aliceblue;
}

.contact_bg{
  background: radial-gradient(circle, #f5bf4a 20%, #3a2800 74%);
}

/* rgb(51 37 81) */
/* rgb(5 2 12) */


.text_grad{
  background: linear-gradient(
        to right,
        #FFB000 20%,
        #FFCF9D 30%,
        #004225 70%,
        #9A3B3B 80%
    );
    width:min-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.scrollableframe{
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 120vh;
  margin: 0.5rem;
  padding: 0.5rem;
}
.scrollableframe::-webkit-scrollbar {
  width: 0.2em;
}

.scrollableframe::-webkit-scrollbar:hover {
  width: 1em;
}
 
.scrollableframe::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
 
.scrollableframe::-webkit-scrollbar-thumb {
  background-color: rgb(6, 123, 159);
  outline: 1px solid rgb(0, 0, 0);
}